#scrollframes {
  background: transparent url(img/pilot_sequence/sprites/10x_128_72_ball.png) 0 0 no-repeat;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 178px;
  height: 100px;
  z-index: 2000;
  cursor: pointer;
}